:root {
    --bg-primary: #e9ecec;
    --bg-secondary: #b38eae;
    --bg-button: #b38eae;
    --bg-button-clicked: #a07a9b;
    --text-primary: #333333;
    --text-secondary: #f0f0f0;
}

body {
    background-color: var(--bg-primary);
    font-family: 'Poppins', sans-serif;
    color: var(--text-primary);
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height: 2;
}

aside {
    max-width: 100%;
    padding: 1rem;
}

#city {
    padding: 0.2rem;
}

button {
    display: flex;
    justify-content: center;
    background-color: var(--bg-button);
    color: var(--text-secondary);
    border: none;
    border-radius: 8px;
    width: 80%;
    padding: 0.2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    transition: 0.15s;
}

button:hover {
    background-color: var(--bg-button-clicked);
    cursor: pointer;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.7rem;
    margin-top: 0.5rem;
}

.search-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.3rem;
}

li:hover {
    cursor: pointer;
}

section {
    padding: 1rem;
    min-width: 70%;
}

#weather {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-radius: 10px;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.weather-city {
    font-size: 1.6rem;
    margin-bottom: -1.5rem;
}   

#weather-forecast {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

#days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.day {
    display: flex;
    justify-content: center;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-radius: 10px;
    padding: 1rem;
    width: 17%;
    height: 100%;
}

@media screen and (max-width:1312px) {

    main {
        justify-content: center;
        font-size: 1.0rem;
    }

    aside {
        max-width: 25%;
    }

    section {
        max-width: 70%;
    }

    .day {
        margin: 0.4rem;
        width: auto;
    }

    #weather-forecast {
        align-items: center;
    }
}

@media screen and (max-width:992px) {

    main {
        justify-content: center;
        font-size: 1.0rem;
    }

    aside {
        max-width: 25%;
    }

    section {
        max-width: 70%;
    }

    .day {
        margin: 0.4rem;
        width: auto;
    }

    #weather-forecast {
        align-items: center;
    }
}

@media screen and (max-width:768px) {

    main {
        justify-content: center;
        font-size: 1.5rem;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 200%;
    }

    .search-history li{
        width: 200%;
        font-size: 0.9rem;
    }

    section {
        max-width: 70%;
        
    }

    #days {
        flex-direction: column;
    }

    .day {
        margin: 0.4rem;
        width: auto;
    }

    #weather-forecast {
        align-items: center;
    }

}